.books{
    height: calc(100% - 90px);
}

.hoveringg{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.display{
    display: flex;
    flex-direction: row;
}
.bookimage{
    background: #E2E2E2;
    text-align: center;
    padding: 12px 0;
}